torch --index-url https://download.pytorch.org/whl/cu128
torchvision --index-url https://download.pytorch.org/whl/cu128
torchaudio --index-url https://download.pytorch.org/whl/cu128
langchain
langgraph
langchain-community
langchain-mcp-adapters
langchain-openai
langchain-huggingface
langchain-chroma
beautifulsoup4
pyaudio
soundfile
nemo_toolkit["asr"]